@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


    .luz, .centro, .demandas, .meio6, .logotipo2, .fone{
        display: none;
    }
    header{
        position: relative;
        background-color:#212121;
        width: 100%;
       
    
    }
    .cabo{ 
        display: none;
    }
   
    .cabo1{
        padding-top: 16%;
        padding-left: 7%;
        font-size: 70px;
    }

    .logotipo{
        position: absolute;
        font-size:85px;
        left: 151px;
        top: 52px;
        color: #ffffff;
    }
    .porta{
        position: absolute;
        font-size: 70px;
        left: 25%;
        top: 80%;
    }
    .sao11{
        font-size: 50px;
        margin-left: 16%;
    }
 
    .botao3{
        width: 90px;
        height: 82px;
        left: -76%;
        position: absolute;
        top: -60%;
    }
     .section1{
        width: 100%;
        background-color:#212121;
        padding-top: 14%;
        margin-top: -3%;
    }
    .sao1{
     
        font-size: 50px;
        color: #ffffff;
        text-decoration: none;
        margin-left: 49px;
       
    }
    .oculos{
        position: absolute;
        left: 418px;
        top: 14px;
        display: flex;
    }
    
    
    /* .note3{
        position: absolute;
        top: 47%;
        left: 620px; 
        width: 30%;
    } */

    h2{
        color: #ffffff;
        font-size: 80px;
        margin-top: -20px;
        margin-bottom: 0px;    
        padding-left: 42px;
        padding-bottom: 72px;
        padding-top: 72px;
    
    }
    .focada2, .clientes5, .modelos4{
        background-color: #000000;
       width: 100%;
    }
    .trabalho{
        font-size: 75px;
        color: #ffffff;
        margin-left: 10%;
        padding-top: 70px;
    }
    .cola{
    font-size: 60px;
    color: #ffffff;
    margin-left: 5%;
    padding-bottom: 6%;
    }
    .logotipo3{
        padding-left: 6%;
        padding-top: 3%;
        font-size: 90px;
    }
    .section4{
        display: flex;
        flex-direction: column;
        background-color: #000000;
    }
    .conjuto3{
        background-color: #ffffff;
    }
    .class1{
        display: flex;
        flex-direction: column;
        padding-left: 16%;
        width: 70%;
    }
    .principal{   
    font-size: 90px;
    padding-left: 16%;
    padding-top: 7%;
    }
    .logotipo4{
        font-size: 70px;
        padding-left: 12%;
        padding-top: 5%;
        padding-bottom: 7%;
    }
    .voce{
        position: absolute;
        left: 204px;
        font-size: 70px;
    }
    .time{
        font-size: 70px;
        padding-left: 12%;
        width: 85%;
        padding-top: 318px;
    }

    .brasil3{
        font-size: 50px;
        padding-top: 41%;
    }
    .projeto{
        padding-top: 3%;
    }
    .aqui3{
    font-size: 70px;
    padding-left: 15%;
    margin-top: -172%;
    }
    .mercado5{
        font-size: 50px;
    }
    .tem1{
        font-size: 50px;
        width: 100%;
    }
    .trem3{
        font-size: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .projeto6{
        padding-top: 6%;
        width: 100%;
        padding-right: 30px;
    }
    .tela{
        font-size: 50px;
        width: 100%;
    }
    .mouse{
        width: 100%;
    }
    .caderno4{
        width: 100%;
    }
    .teste1{
        font-size: 50px;
        padding-left: 10%;
    }
    .mente, .mente2, .tem1{
        display: flex;
        flex-direction: column;
    }
    .espaco{
        width: 100%;

    }
    .paulo{
        margin-top: 171%;
        display: flex;
        flex-direction: column;
        height: 1317px;
    }
    .bra{
        font-size: 70px;
        left: 32%;
    }
    .rua{
        font-size: 40px;
        left: 26%;
        top: 14%;
    }
    .praça{
        font-size: 40px;
        left: 26%;
        top: 28%;
    }
    .gente{
        font-size: 40px;
        left: 32%;
        top: 59%;
        height: 4%;
        width: 24%;
    }
    .direito{
        font-size: 30px;

    }
    .cel2{
        font-size: 50px;
        width: 70px;
        height: 165px;
        padding-top: 15%;
        margin-left: 65px;
    }
    .inst{
        height: 116%;
        left: 73%;
        top: 1066%;
    }
    .book{
        height: 116%;
        left: 139%;
        top: 1066%;
    }
    .cam{
        height: 116%;
        left:202%;
        top: 1066%;
    }
    .suzano2{
        font-size: 40px;
    }
    .receber{
        font-size: 50px;  
    padding-left: 14%;
    margin-top: -130px;

    }

}
