
@media only screen and (min-width : 1024px){ 


*{
    font-family: 'Open Sans', sans-serif;
    outline: none;

}

header{
    background-color: #212121;
    padding-bottom: 2%;
    width: 100%;
    position: relative;
   
}
.logotipo{
    font-size: 24px;
    color: #ffffff;
    margin-left: 6%;
}
.logotipo2{
    color:#F8D930;
    margin-left: 6%;
    padding-bottom: 1%;
}
.cabo1{
    
    list-style: none;
    position: absolute;
    top: 51%;
    left: 57%;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
}
.sao2{
    margin-left: 2%;
}
.note3{
    position: absolute;
    left: 55%;
    top: 32%;
}
.cabo{
    display: none;
}
.botao3{
    display: none;
}
.menu{
    margin-left: 60%;
    padding-bottom:1%;
    margin-top: -3%;
}
.sao{
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
  font-size: 15px;
}
.oculos{
    position: absolute;
    left: 418px;
    top: 14px;
    display: flex;
}


.sao1{
    text-decoration: none;
    color: #ffffff;
  font-size: 15px;
  margin-left: 27%;
}
.sao:hover{
    color: #F8D930;
    border-bottom: 1px solid #F8D930;
}
.sao1:hover{

    color: #F8D930;
    
}
.luz{
    margin-left: 6%;
    margin-top: 5%;
} 
h2{
    left: 66%;
    top: 26%;
    color: #f5f5f5;
    position: absolute;
    font-size: 42px;
    line-height: 66px;
    font-weight: 300;
}
.trabalho{
position: absolute;
top: 26%;
left: 20%;
}
.cola{
    position: absolute;
    left: 4%;
    top: 55%;
    
}
.section1{
    background-color: #212121;
}
.clientes5, .modelos4, .focada2, .section2, .section3, .section4, .paulo{
    position: relative;
}
.centro,.demandas,.meio6{
    width: 100%;
}
.section2{
    background-color: #212121;
    padding-bottom: 12%;

}
.logotipo3{
    color: #ffffff;
    left: 5%;
    right: 0%;
    font-size:52px;
    font-weight:400;
}
.section4{
    display: flex;
    flex-direction:row;
    height: 400px;
 
}
.principal{
    position: absolute;
    left: 103px;
    top: 72px;
    font-weight: 600;
    font-size: 52px;
}
.logotipo4{
    position: absolute;
    left: 5%;
    top: 43%;
    font-weight: 600;
    font-size: 40px;
    color:#969696;
}
.section3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.voce{
    position: absolute;
    left: 47%;
    top: 15px;
    font-size: 52px;
    font-weight: 600;
    padding-right:407px;
    margin-top: -20px;
    padding-left:69px;
    color: white;
    height: 492px;
}
.time{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
input, textarea{
    border: none;
    border-bottom: solid 1px; 
}
.section5{
    margin-top: 87px;
    background-color:#f5f5f5;
}
footer{
    background: #f5f5f5;
}

.mente, .mente2{
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
}
.brasil3{
    margin-left: 66px;
    font-size: 12px;
    padding-top: 155px;
}
.mercado5{
    font-size: 12px;
    padding-bottom: 14px;
    margin-left: 88px;
    padding-top: 146px;
}
.tem1{
    margin-left: 66px;
    font-size: 12px;
    padding-top: 40px;
    padding-bottom: 14px;
}
.trem3{
    margin-left: 66px;
    font-size: 12px;
    padding-top: 40px;
    padding-bottom: 14px;
}
.tela{
    position: absolute;
    margin-top:-59px;
    margin-left: 103px;
    font-size: 12px;
}
.projeto6{
    margin-left: 66px;
    width:390px;
    background-color: #f5f5f5;
    padding-bottom: 14px;
}
.caderno4{
    margin-left: 66px; 
    width: 266px;
    background-color: #f5f5f5;

}
.mouse{
    margin-left: 88px;
    width:364px;
    background-color: #f5f5f5;
}
.espaço{
    margin-left: 103px;
    background-color: #f5f5f5;
    margin-top: -122px;
}
.cel2{
    position: absolute;
    left: 5%;
    top: 637%;
    width: 19px;
    height: 19px;
    background: #f5f5f5;
}
button{
    background: #F8D930;
    position: absolute;
    left: 687px;
    border: 1px solid #ffff00;
    width: 251px;
    height: 35px;
    color: #212121;
    top: 637%;
    font-weight: 700;
}
.receber{
    position: absolute;
    left: 7%;
    font-size: 12px;
    top: 638%;
}
.aqui3{
    position: absolute;
    left: 971px;
    top: 588%;
    font-size: 40px;
    color: #212121;
}
.teste1{
    position: absolute;
    left: 74%;
    top: 610%;
    color: #212121;
}
.fone{
    margin-left:231px;
    margin-top: 175px;
    margin-bottom: -27%;
}
 .paulo{
  position: relative;
 
 }
.bra{
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600%;
    left: 117px;
    top: 57px;
}
    
.rua{
    position: absolute;
    color: #ffffff;
    font-size:11px;
    left: 116px;
    top: 99px;
    height: 30px;
    width: 104px;
}
.praça{
    position: absolute;
    color: #ffffff;
    font-size: 11px;
    left: 115px;
    top: 148px;
    height: 30px;
    width: 102px;
}
.suzano2{
    position: absolute;
    left: 78%;
    top: 15%;
}
.sucesso{
    color: #ffffff;
    position: absolute;
    top: 99px;
    left: 502px;
    font-weight: 600%;
    font-size: 30px;
}
.gente{
    position: absolute;
    color: white;
    left: 118px;
    top: 295px;
    font-size: 18px;

}
.inst{
    position: absolute;
    left: 6px;
    top: 35px;
}
.book{
position: absolute;
left: 47px;
top: 35px;
}
.cam{
    position: absolute;
    left: 86px;
    top: 39px;
}
/* .top{
    position: absolute;
    left: 1272px;
    top: 355px; 
} */
.uniao1{
    position: absolute;
    left: 1275px;
    top: 380px;
}
.porta{
    position: absolute;
    top: 49.5%;
    left: 43%;
    text-align: center;
    color: #ffffff;
   
}
.sao11{
    position: absolute;
    top: -1.5%;
    left: 57%;
    text-align: center;
    color: #ffffff;
}
.stop{
    position: absolute;
    left: -14px;
    top: -1px;
    color: yellow;
    font-size: 14px;
}
.formando{
    position: absolute;
    left: 30px;
    top: -1px;
    font-size: 14px;
}
.pasta{
    position: absolute;
    left: 74px;
    top: -1px;
    font-size: 14px;
}
.direito{

    font-size: 14px;
 
}

.menu1{
    display: none;
}
}



